<%= form_for(@patologium) do |f| %>
  <% if @patologium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patologium.errors.count, "error") %> prohibited this patologium from being saved:</h2>

      <ul>
      <% @patologium.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :tipo_de_patologia_id %><br />
    <%= f.text_field :tipo_de_patologia_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
