<h1>Listado de patologia</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Tipo de patologia</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @patologia.each do |patologium| %>
  <tr>
    <td><%= patologium.nombre %></td>
    <td><%= patologium.tipo_de_patologia_id %></td>
    <td><%= link_to 'Ver', patologium %></td>
    <td><%= link_to 'Editar', edit_patologium_path(patologium) %></td>
    <td><%= link_to 'Eliminar', patologium, method: :delete, data: { confirm: '¿Seguro desea eliminar?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Patologium', new_patologium_path %>
