<h1>Listado de tipo_de_documentos</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tipo_de_documentos.each do |tipo_de_documento| %>
  <tr>
    <td><%= tipo_de_documento.nombre %></td>
    <td><%= link_to 'Ver', tipo_de_documento %></td>
    <td><%= link_to 'Editar', edit_tipo_de_documento_path(tipo_de_documento) %></td>
    <td><%= link_to 'Eliminar', tipo_de_documento, method: :delete, data: { confirm: '¿Seguro desea eliminar?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Tipo de documento', new_tipo_de_documento_path %>
